__pycache__/
/data/processed/*.nc
.wrangler
.env
.env.dev

# Data
data/raw/TIGER/*
!data/raw/TIGER/README.md
data/raw/ercot_load_zones/*
!data/raw/ercot_load_zones/README.md
api/static/*
compute/experiments/zonal_clustering/runs/*
compute/runs/*
!compute/runs/README.md

# books / docs
*.pdf
*.odt
*.gz
*.png
.image-tag
web/dist/
