__pycache__/
/data/processed/*.nc
.wrangler
.env
.env.dev

*.gz

# Data
data/raw/TIGER/*
!data/raw/TIGER/README.md
data/raw/ercot_load_zones/*
!data/raw/ercot_load_zones/README.md
!data/raw/ercot_geocode/gridstatus-nodes.json.gz
api/static/*
compute/experiments/zonal_clustering/runs/*
compute/runs/*
!compute/runs/README.md

# books / docs
*.pdf
*.odt
*.png
!docs/v1/*.png
.image-tag
web/dist/
